$color-principal: #fac710;
$color-secundario: #f3721f;
$color-blanco: #ffffff;
$color-blanco-gris: #e3e3e3;
$color-negro: #333333;
$color-gris: #444444;
$color-gris-icono: #434343;
$color-gris-claro: #ccc;
$color-gris-switch: #e0e0e0;
$color-bg-dark: #2e2e2e;
$color-border-color: #c25b19;
$color-error:#ff4d40;
$color-danger: #ee8646;
$color-success: #70af72;


$fuente-principal: "Roboto", sans-serif;

$logo-desktop: 20rem;
$logo-large: 18rem;
$logo-medium: 15rem;
$logo-small: 12rem;

$tv: 155rem;
$desktop: 126.4rem;
$tablet: 76.8rem;
$mobile: 48rem;
$smallScreen: 36rem;


