@use "../base/variables" as v;
@use "../mixins/mixins" as m;

.container-backlog {
  overflow: auto;
}

.container-search {
  display: flex;
  flex-direction: column;
  input {
    width: 60%;
    padding: 1rem;
    margin: 0.5rem auto;
    border: 0.1rem solid v.$color-gris-claro;
    border-radius: 0.4rem;
  }
}

body.dark .container-search {
  input {
    color: v.$color-blanco;
    background-color: v.$color-bg-dark;
    border: 0.1rem solid v.$color-gris;
  }
}

.backlog {
  border: 0.1rem solid v.$color-gris-claro;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 85rem;
  @include m.grid-columns(3, 0);
  .deadline-container {
    border-top: 0.1rem solid v.$color-gris-claro;
    text-align: center;
  }
  .header-task {
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: v.$color-blanco;
  }
  .task-card {
    margin: 0.5rem;
    max-width: 25rem;
  }
}

.container-backlog-task{
  margin: auto;
}

body.dark {
  .backlog {
    border: 0.1rem solid v.$color-gris;
    .view-button-container {
      border-top: 0.1rem solid v.$color-gris;
    }
  }
}

body.dark .backlog {
  border: 0.1rem solid v.$color-gris;
  .deadline-container {
    border-top: 0.1rem solid v.$color-gris;
  }
  .header-task {
    color: v.$color-negro;
  }
}

@media (max-width: v.$mobile) {
  .backlog {
    margin: auto;
    padding: 2rem 0;
    border-left: none;
    border-right: none;
    min-width: 50rem;
    overflow: auto;
    @include m.grid-columns(2, 0);
    font-size: 2rem;
    .profile {
      width: 4rem;
      height: 4rem;
      margin: auto;
    }
    .task-card {
      margin: auto;
      max-width: 20rem;
      padding-bottom: 0;
      margin-bottom: 1.5rem;
    }
  }

  .container-search {
    input {
      width: 80%;
      padding: 2rem;
      margin: 0.25rem auto;
      font-size: 2rem;
    }
    margin-bottom: 3rem;
  }
}
