@use "../base/" as v;
@use "../mixins/" as m;

.profile-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  max-width: 120rem;

  .input-project,
  .custom-date-input {
    width: auto;
    margin: 0;
  }
  .custom-date-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    font-size: 1.6rem;
    color: v.$color-gris;
  }
}

.form-profile {
  border: 0.1rem solid v.$color-gris-claro;
  background-color: v.$color-blanco-gris;
  padding: 3rem;
  padding-bottom: 1rem;
  margin: 0 5rem;
  margin-bottom: 1rem;
}


body.dark .form-profile {
  border: 0.1rem solid v.$color-gris;
  background-color: v.$color-negro;
}


.input-container {
  display: flex;
  flex-direction: column;
  label {
    text-align: left;
    color: v.$color-secundario;
  }
}

body.dark .input-container {
  label {
    color: v.$color-principal;
  }
}
.image-profile {
  margin: auto;
  cursor: pointer;
  position: relative;

  img {
    border-radius: 50%;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
  }

  .material-icons.camera {
    position: absolute;
    bottom: 1.2rem;
    right: 5rem;
    font-size: 24px;
    color: v.$color-negro;
    background-color: v.$color-blanco-gris;
    border-radius: 50%;
    padding: 0.4rem;
    cursor: pointer;
  }
}

body.dark .image-profile {
  .material-icons.camera {
    color: v.$color-principal;
    background-color: v.$color-gris;
    border-radius: 50%;
    padding: 0.4rem;
    cursor: pointer;
  }
}

.input-group-profile {
  @include m.grid-columns(2);
  padding: 2rem;
}

@media (max-width: v.$mobile) {
  .input-group-profile {
    @include m.grid-columns(1);
    padding: 2rem;
  }
  .profile-container {
    border: none;
    border-top: 0.1rem solid v.$color-gris-claro;
    border-bottom: 0.1rem solid v.$color-gris-claro;
    margin-left: 0;
    margin-right: 0;
  }
  .form-profile {
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  body.dark .profile-container {
    border: none;
    border-top: 0.1rem solid v.$color-gris;
    border-bottom: 0.1rem solid v.$color-gris;
  }
}
